{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% set bcPluginSettings = context.saleschannel.id|getWlPluginConfig %}

{% block layout_header_top_bar %}
    <div class="top-bar row">
		{% if bcPluginSettings['bcwlpromotiontopbar'] %}
			<div class="topbar-container col-xl-6 col-sm-6 text-sm-left">
				<div class="topbar-features">
					<div class="container">
						<ul class="bc-promotion-list">
							<li class="bc-wl-slider" data-slideritem = "1">
								<svg width="25" height="20" viewBox="0 0 25 20" fill="" xmlns="http://www.w3.org/2000/svg"><path d="M24.375 13.75H23.75V9.52734C23.75 9.03125 23.5508 8.55469 23.1992 8.20312L19.2969 4.30078C18.9453 3.94922 18.4688 3.75 17.9727 3.75H16.25V1.875C16.25 0.839844 15.4102 0 14.375 0H1.875C0.839844 0 0 0.839844 0 1.875V14.375C0 15.4102 0.839844 16.25 1.875 16.25H2.5C2.5 18.3203 4.17969 20 6.25 20C8.32031 20 10 18.3203 10 16.25H15C15 18.3203 16.6797 20 18.75 20C20.8203 20 22.5 18.3203 22.5 16.25H24.375C24.7188 16.25 25 15.9688 25 15.625V14.375C25 14.0312 24.7188 13.75 24.375 13.75ZM6.25 18.125C5.21484 18.125 4.375 17.2852 4.375 16.25C4.375 15.2148 5.21484 14.375 6.25 14.375C7.28516 14.375 8.125 15.2148 8.125 16.25C8.125 17.2852 7.28516 18.125 6.25 18.125ZM18.75 18.125C17.7148 18.125 16.875 17.2852 16.875 16.25C16.875 15.2148 17.7148 14.375 18.75 14.375C19.7852 14.375 20.625 15.2148 20.625 16.25C20.625 17.2852 19.7852 18.125 18.75 18.125ZM21.875 10H16.25V5.625H17.9727L21.875 9.52734V10Z" fill="black"/></svg>
								<span>{{ "bc-wl-landing-promotion-bar.promotionContentTitle1" | trans }}</span>
							</li>
							<li class="bc-wl-slider" data-slideritem = "2">
								<svg width="25" height="25" viewBox="0 0 25 25" fill="" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_233_22)"><path d="M12.5 5.46875C12.5 5.26155 12.4177 5.06284 12.2712 4.91632C12.1247 4.76981 11.926 4.6875 11.7187 4.6875C11.5115 4.6875 11.3128 4.76981 11.1663 4.91632C11.0198 5.06284 10.9375 5.26155 10.9375 5.46875V14.0625C10.9375 14.2002 10.974 14.3355 11.0431 14.4545C11.1123 14.5736 11.2117 14.6723 11.3312 14.7406L16.8 17.8656C16.9795 17.9626 17.1898 17.9856 17.3859 17.9296C17.5821 17.8736 17.7486 17.7431 17.8498 17.5659C17.951 17.3888 17.9789 17.1791 17.9275 16.9817C17.8762 16.7843 17.7497 16.6148 17.575 16.5094L12.5 13.6094V5.46875Z" fill="black"/><path d="M12.5 25C15.8152 25 18.9946 23.683 21.3388 21.3388C23.683 18.9946 25 15.8152 25 12.5C25 9.18479 23.683 6.00537 21.3388 3.66117C18.9946 1.31696 15.8152 0 12.5 0C9.18479 0 6.00537 1.31696 3.66117 3.66117C1.31696 6.00537 0 9.18479 0 12.5C0 15.8152 1.31696 18.9946 3.66117 21.3388C6.00537 23.683 9.18479 25 12.5 25V25ZM23.4375 12.5C23.4375 15.4008 22.2852 18.1828 20.234 20.234C18.1828 22.2852 15.4008 23.4375 12.5 23.4375C9.59919 23.4375 6.8172 22.2852 4.76602 20.234C2.71484 18.1828 1.5625 15.4008 1.5625 12.5C1.5625 9.59919 2.71484 6.8172 4.76602 4.76602C6.8172 2.71484 9.59919 1.5625 12.5 1.5625C15.4008 1.5625 18.1828 2.71484 20.234 4.76602C22.2852 6.8172 23.4375 9.59919 23.4375 12.5V12.5Z" fill="black"/></g><defs><clipPath id="clip0_233_22"><rect width="25" height="25" fill="white"/></clipPath></defs></svg>
								<span>{{ "bc-wl-landing-promotion-bar.promotionContentTitle2" | trans }}</span>
							</li>
							<li class="bc-wl-slider" data-slideritem = "3">
								<svg width="25" height="25" viewBox="0 0 25 25" fill="" xmlns="http://www.w3.org/2000/svg"><path d="M5.07812 10.9375H1.17188C0.524658 10.9375 0 11.4622 0 12.1094V23.8281C0 24.4753 0.524658 25 1.17188 25H5.07812C5.72534 25 6.25 24.4753 6.25 23.8281V12.1094C6.25 11.4622 5.72534 10.9375 5.07812 10.9375ZM3.125 23.0469C2.47778 23.0469 1.95312 22.5222 1.95312 21.875C1.95312 21.2278 2.47778 20.7031 3.125 20.7031C3.77222 20.7031 4.29688 21.2278 4.29688 21.875C4.29688 22.5222 3.77222 23.0469 3.125 23.0469ZM18.75 3.97715C18.75 6.04824 17.4819 7.20996 17.1251 8.59375H22.0921C23.7228 8.59375 24.9923 9.94854 25 11.4306C25.0041 12.3064 24.6315 13.2494 24.0508 13.8328L24.0454 13.8381C24.5257 14.9776 24.4476 16.5743 23.5909 17.7185C24.0148 18.9829 23.5875 20.536 22.791 21.3687C23.0009 22.228 22.9006 22.9593 22.4908 23.548C21.4942 24.9798 19.0242 25 16.9355 25L16.7966 25C14.4388 24.9991 12.5092 24.1407 10.9587 23.4509C10.1795 23.1042 9.16079 22.6751 8.38784 22.6609C8.06851 22.6551 7.8125 22.3945 7.8125 22.0751V11.6371C7.8125 11.4809 7.8751 11.3309 7.98623 11.221C9.92051 9.30972 10.7522 7.28613 12.3376 5.69805C13.0605 4.97383 13.3234 3.87988 13.5775 2.82197C13.7947 1.9186 14.2489 0 15.2344 0C16.4062 0 18.75 0.390625 18.75 3.97715Z" fill="black"/></svg>
								<span>{{ "bc-wl-landing-promotion-bar.promotionContentTitle3" | trans }}</span>
							</li>
							<li class="bc-wl-slider" data-slideritem = "4">
								<svg width="25" height="25" viewBox="0 0 25 25" fill="" xmlns="http://www.w3.org/2000/svg"><path d="M24.2866 17.6656L18.8179 15.3218C18.5843 15.2223 18.3246 15.2013 18.078 15.262C17.8315 15.3228 17.6113 15.462 17.4507 15.6587L15.0288 18.6177C11.2279 16.8256 8.16904 13.7668 6.37695 9.96587L9.33594 7.54399C9.53305 7.38368 9.67256 7.16351 9.73335 6.91682C9.79414 6.67013 9.7729 6.41035 9.67285 6.1768L7.3291 0.708053C7.21929 0.4563 7.02508 0.250751 6.77996 0.126852C6.53483 0.00295173 6.25416 -0.0315334 5.98633 0.0293424L0.908203 1.20122C0.649985 1.26085 0.419602 1.40624 0.254656 1.61366C0.0897096 1.82109 -5.94829e-05 2.07829 2.95713e-08 2.34331C2.95713e-08 14.8677 10.1514 24.9996 22.6562 24.9996C22.9213 24.9997 23.1787 24.91 23.3862 24.7451C23.5937 24.5801 23.7392 24.3497 23.7988 24.0914L24.9707 19.0132C25.0312 18.7441 24.996 18.4623 24.8711 18.2163C24.7463 17.9704 24.5396 17.7756 24.2866 17.6656V17.6656Z" fill="black"/></svg>
								<span>{{ "bc-wl-landing-promotion-bar.promotionContentTitle4" | trans }}<a id="tel_no" href="tel:{{ "bc-wl-landing-promotion-bar.hotlineNumber" | trans }}" rel="noopener" target="_blank" title="{{ "bc-wl-landing-promotion-bar.hotlineNumber" | trans }}">{{ "bc-wl-landing-promotion-bar.hotlineNumber" | trans }}</a></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
        <nav class="top-bar-nav{% if bcPluginSettings['bcwlpromotiontopbar'] %} col-xl-6 col-sm-6{% else %} col-xl-12 col-sm-12{% endif %} d-none d-lg-block">
            {% block layout_header_top_bar_language %}
                {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
            {% endblock %}
            {% block layout_header_top_bar_currency %}
                {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
            {% endblock %}
            {% block layout_header_top_bar_service %}
                {% sw_include '@Storefront/storefront/layout/header/actions/service-menu-widget.html.twig' %}
            {% endblock %}
        </nav>
    </div>
{% endblock %}
